* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.select2 {
    width: 100%;
}
.select2-selection.select2-selection--single {
    height: 34px !important;
}
.header {
    height: 50px;
    border-bottom: 2px solid #fff;
}
.title {
    background: #31473A;
    color: #fff;
    font-size: 22px;
    align-items: center;
}
.header-right {
    background: #6ab18861;
}
.profile {
    float: right;
    padding: 10px 10px;
}
.sidebar {
    background: #31473A;
    font-size: 18px; 
    height: 93vh;
}
.sidebar .menu-option {
    border-bottom: 1px solid #fff;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.sidebar .menu-option .option-name {
    padding-left: 14px;
    color: #fff;
    text-decoration: none;
}
.sidebar .menu-option .option-create {
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}
.view-header {
    background: #f3f3f3;
    font-size: 20px;
    height: 48px;
    display: flex;
}
.breadcrumb {
    margin-bottom: 0px;
}
.view-header .save-btn {
    font-size: 20px;
}
.form-inline-view {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.form-view {
    padding: 10px;
}
.table-view {
    padding: 10px;
}
.input-field {
    width: 100%;
    padding: 2px 4px;
}
.col-lg-4 {
    padding: 5px;
}
.error {
    font-size: 16px;
}
input[type="radio"] {
    width: 1em; 
    height: 1em; 
}
.dashboard {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.dashboard .summury-box {
    padding: 10px;
    margin: 10px 0 0px 10px;
    font-style: italic;
    color: #fff;
    border-radius: 8px;
}
.dashboard .summury-box {
    div {
        font-size: 30px;
    }
    span {
        font-size: 32px;
    }
}
.status {
    padding: 6px;
    border-radius: 6px;
}