<div>
    <nav aria-label="breadcrumb" class="view-header">
        <ol class="breadcrumb p-2">
            <li class="breadcrumb-item active" aria-current="page">Team</li>
        </ol>
    </nav>
    <div class="table-view">
        <table id="table-view">
            <thead>
                <tr>
                    <th style="width: 10%;">Id</th>
                    <th style="width: 25%;">Name</th>
                    <th style="width: 25%;">Nickname</th>
                    <th style="width: 30%;">Status</th>
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>