<div>
    <nav aria-label="breadcrumb" class="view-header">
        <ol class="breadcrumb p-2">
            <li class="breadcrumb-item"><a href="#!/player">Player</a></li>
            <li class="breadcrumb-item active" aria-current="page" ng-if="isNew">Create</li>
            <li class="breadcrumb-item active" aria-current="page" ng-if="!isNew">Edit</li>
        </ol>
        <button type="submit" class="btn btn-primary save-btn" style="right: 0px;" ng-click="save()">Save</button>
    </nav>
    <div class="form-inline-view">
        <div class="col-lg-4">
            <div>
                <label>Name</label>
            </div>
            <div>
                <input type="text" ng-model="player.name" name="player.name" placeholder="Enter Name" class="input-field">
            </div>
            <span id="name_err" class="error text-danger"></span>
        </div>
        <div class="col-lg-4">
            <div>
                <label>Type</label>
            </div>
            <div>
                <select id="playerType" style="width: 100%;"></select>
            </div>
            <span id="type_err" class="error text-danger"></span>
        </div>
        <div class="col-lg-4">
            <div>
                <label>Team</label>
            </div>
            <div>
                <select id="team" style="width: 100%;"></select>
            </div>
            <span id="team_err" class="error text-danger"></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <div>
                <label>Image</label>
            </div>
            <div>
                <input type="file" file-input="player.image">
            </div>
            <button ng-if="player.imagePreview && isEdit" type="button" class="btn btn-light" ng-click="deletePlayerImage()">Delete</button>
            <div>
                <div ng-if="player.imagePreview">
                    <img ng-if="!isEdit" ng-src="{{player.imagePreview}}" alt="Image Preview" class="img-thumbnail mt-2" style="max-width: 200px;">
                    <img ng-if="isEdit" ng-src="../server/public/storage/uploads/{{player.imagePreview}}" alt="Image Preview" class="img-thumbnail mt-2" style="max-width: 200px;">
                </div>
                <div ng-if="!player.imagePreview">
                    <img ng-src="./assets/images/demoperson.jpg" alt="Image Preview" class="img-thumbnail mt-2" style="max-width: 100px;">
                </div>
            </div>
            <span id="image_err" class="error text-danger"></span>            
        </div>
        <div class="col-lg-4">
            <div>
                <label>Status</label>
            </div>
            <div>
                <input type="radio" id="active" ng-model="player.status" name="player.status" value="0" ng-checked="1">
                <label for="active">Active</label></br>
                <input type="radio" id="inactive" ng-model="player.status" name="player.status" value="1" ng-checked="0">
                <label for="inactive">Inactive</label>
            </div>
            <span id="status_err" class="error text-danger"></span>
        </div>
    </div>
</div>