<div>
    <nav aria-label="breadcrumb" class="view-header">
        <ol class="breadcrumb p-2">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <div class="dashboard">
        <div class="col-md-3 summury-box bg-success">
            <div>Total Players</div>
            <span ng-bind="dashboard.totalPlayer"></span>
        </div>
        <div class="col-md-3 summury-box bg-primary">
            <div>Active Players</div>
            <span ng-bind="dashboard.activePlayer"></span>
        </div>
        <div class="col-md-3 summury-box bg-danger">
            <div>Inactive Players</div>
            <span ng-bind="dashboard.inactivePlayer"></span>
        </div>
        <div class="col-md-3 summury-box bg-primary">
            <div>Active Team</div>
            <span ng-bind="dashboard.activeTeam"></span>
        </div>
        </br>
        <div class="col-md-3 summury-box bg-info">
            <div>Active Batsman</div>
            <span ng-bind="dashboard.activeBatsman"></span>
        </div>
        <div class="col-md-3 summury-box bg-info">
            <div>Active Bolwers</div>
            <span ng-bind="dashboard.activeBolwers"></span>
        </div>
        <div class="col-md-3 summury-box bg-info">
            <div>Active All Rounders</div>
            <span ng-bind="dashboard.activeAllrounder"></span>
        </div>
        <div class="col-md-3 summury-box bg-info">
            <div>Active Wicket Keeper</div>
            <span ng-bind="dashboard.activeWicketKeeper"></span>
        </div>

    </div>
</div>